{{> head}}

<main style="background-color: #eee; ">
    {{#if message}}
    <div class="alert alert-{{message.type}}" role="alert" style="position:absolute; top:0; width:100%" >
        {{message.message}}
    </div>    
    {{/if}}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #eee ">
    
    <form action="/login" method="POST" class="card p-5 shadow-lg" style="width: 30rem;" >
    <div class='mb-3'>
        <a href="/"><img src="/static/icons/left-arrow.png" alt="left-arrow" style="width: 40px;"></a>
    </div>
    <div class='mb-3'>
        <h3 class="card-title text-center">LOGIN</h3>
    </div>
    <div class='mb-3'>
        <label for='InputEmail' class='form-label'>Email</label>
        <input type='email' class='form-control' id='InputEmail' name="email" required />
    </div>
    <div class='mb-3'>
        <label for='InputPassword' class='form-label'>Password</label>
        <input type='password' class='form-control' id='InputPassword' name="password" required />
    </div>
    <input type='submit' value="Login" class='btn btn-secondary mt-5 mb-3'></input>
    <div class='mb-3'>
        <p class="text-center">Don't have an account? <a href="/register">Sign Up</a></p>
    </div>
    </form>
</div>
</main>

{{> closetag}}