{{> head}}

<main class="d-flex">
{{> sidemenu}}
  <div id="admin-dashboard" class="container d-flex flex-column pt-5">
    <div class="d-flex flex-wrap justify-content-center mb-5">
      <div class="box bg-light d-flex shadow-sm">
        <div class="inner-box">
          <img class="img-fluid" src="/static/icons/user.png" alt="user">
        </div>
          <p class="text">Pelanggan <br> <span class="count">{{customers.length}}</span></p>
      </div>
      <div class="box  bg-light d-flex shadow-sm">
        <div class="inner-box">
          <img class="img-fluid" src="/static/icons/shoping-cart.png" alt="user">
        </div>
          <p class="text">Pesanan <br> <span class="count">{{transactions.length}}</span></p>
      </div>
      <div class="box bg-light d-flex shadow-sm">
        <div class="inner-box">
          <img class="img-fluid" src="/static/icons/money.png" alt="user">
        </div>
          <p class="text">Konfirmasi Pembayaran <br> <span class="count">{{payments.length}}</span></p>
      </div>
     
    
    
    <div id="admin-desc" class="flex-grow-1 container bg-light mt-5">
      <div class="box">
        <h2 class="fw-bold">Selamat Datang</h2>
        <p>Anda masuk sebagai <span>admin</span> </p>
        <p>Pada halaman admin, Anda dapat menambah kategori produk, mengelola produk, mengelola user, dan melihat konfirmasi pembayaran</p>
      </div>
    </div>
  
    

  </div>

  
</main>

{{> closetag}}

