<!-- Modal form-->
<div class='modal fade' id='staticBackdrop' data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='staticBackdropLabel'>Tambah Kategori</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <form action='/admin/category' method='post'>
        <div class='modal-body row'>
          <div class='col-6 mb-3'>
            <label for='InputCategory' class='form-label'>Nama kategori</label>
            <input type='email' class='form-control' id='InputCategory' name='name' required />
          </div>
          <div class='col-6 mb-3'>
            <label for='InputUsername' class='form-label'>Username</label>
            <input type='text' class='form-control' id='InputUsername' name='name' required />
          </div>
          <div class='mb-3'>
            <label for='InputAddress' class='form-label'>Address</label>
            <input type='text' class='form-control' id='InputAddress' name='address' required />
          </div>
          <div class='mb-3'>
            <label for='InputPassword' class='form-label'>Password</label>
            <input type='password' class='form-control' id='InputPassword' name='password' required />
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Batal</button>
          <input type='submit' value='Add to cart' class='btn btn-danger' />
        </div>
      </form>
    </div>
  </div>
</div>