  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script>
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
        document.querySelector('#navbar').classList.add('shadow');
        document.querySelector('#navbar').classList.add('bg-white');
        document.querySelector('#navbar').style.transform = 'translateY(-5px)';
      } else {
        document.querySelector('#navbar').classList.remove('shadow');
        document.querySelector('#navbar').classList.remove('bg-white');
        document.querySelector('#navbar').style.transform = 'translateY(0px)';
      }
    }
  </script>
  </body>
</html>