<nav id='navbar-admin' class='navbar navbar-dark flex-column align-items-start'>
  <ul class='navbar-nav justify-content-start flex-grow-1'>
    <li class='nav-item'>
      <a class='nav-link active' aria-current='page' href='/admin'>Home</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/'>Kembali ke toko</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/admin/manageorder'>Kelola Pesanan</a>
    </li>
    <li class='nav-item dropdown'>
      <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
        Kelola Toko
      </a>
      <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
        <li><a class='dropdown-item' href='/admin/category'>Kategori</a></li>
        <li><a class='dropdown-item' href='/admin/product'>Produk</a></li>
        <li><a class='dropdown-item' href='/admin/payment'>Metode Pembayaran</a></li>

      </ul>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/admin/customer'>Kelola Pelanggan</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='/logout'>Logout</a>
    </li>

  </ul>
</nav>